* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(2,0,36);
background: #ECEDF0
}
.signIn {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width: 205px;
    padding: 0 100px 50px 100px;
    margin-top: 10%;
    border-radius:10px ;
    background: white;
    
}
input,h2 {
    margin-top: 20px;
}
input {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}
label {
    margin-top: 5px;
}
h2 {
    margin-left: 60px;
}
button {
    background: none;
    border: 2px solid lightblue;
    margin-top: 40px;
    width: 150px;
    height: 60px;
    border-radius:10px;
    font-size: 30px;
    color: black;
}
button:hover {
    background-color: lightblue;
    color: ;
    cursor: pointer;
} 


